
* {
	font-size: 16px;
	font-family: arial, helvetica;
	text-align:center;
}

header {
	margin: 0 auto 0 auto;
	padding:1em 2em 1em 2em;
	background-color:rgba(5, 185, 199, 1);
	overflow-x:hidden;

}
body {
	margin:0;
}
div#left-col {
	margin: 1em 2.5% 0 2.5%;
	width:45%;
	float:left;
}
div#right-col {
	background-color:gray;
	margin: 1em 2.5% 0 2.5%;
	width:45%;
	height:500px;
	float:right;
}
h1 {
	font-size: 2em;
	text-align:center;
	color:white;
}
h2 {
	font-size: 1.75em;
}
h3 {
	font-size: 1.5em;
	text-align: center;
}
h3.noForm{
	color:rgba(5, 185, 199, 1);
}

form#calc {
	margin: -1em 0 1em 0;
	width:100%;
}
div.input-contain {
	width:50%;
	padding: 0 0 2em 0;
	background-color: rgba(5, 185, 199, 1.0);
}
div.input-contain h3, div.input-contain p {
	color:white;
	font-weight:bold;
}

div#results {
	margin: 1em auto 1em auto;
	padding:1em 1em 1em 1em;
	max-width: 50%;
	text-align:center;
	border:rgba(5, 185, 199, 1.0) solid 3px;
	min-height:50px;
	font-weight:bold;
	display:block;
	color:rgba(5, 185, 199, 1.0);
}
div.input-contain input {
	width:40%;
}
div#output-row{
	margin-top:1em;
	padding-top:1em;
}
ul#resultsList {
	padding-left:0em;
}
.result-box {
	list-style:none;
	padding: .5em .5em .5em .5em;
}

.result-box button {
	display:block;
	background:none;
	border:none;
	color:rgba(5, 185, 199, 1);
	font-weight:bold;
	text-align:center;
	margin: .5em auto .5em auto;
}

.result-box button:focus{
	outline:none;
	background-color: rgba(5, 185, 199, 0.5);
	color:white;
}
.result-box button:hover{
	outline:none;
	background-color: rgba(5, 185, 199, 0.5);
	color:white;
}
.result-box button.highlight {
	background-color: rgba(5, 185, 199, 1.0);
	color: white;
	border:none;
}
.left {
	float:left;
}
.right{
	float:right;
}
.clear {
	clear:both;
}



@media screen and (max-width: 850px) {
	div#left-col, div#right-col {
		float:none;
		width:auto;
	}
	div#results {
		min-width:50%;
		max-width:50%;
	}
}
